@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #0e2248;
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

.nav_links {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_links .link {
  height: 100%;
  margin: 0 5px;
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  word-wrap: none;
}

.nav_links .link a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.nav_links .link:hover a {
  color: #ffa514;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav {
  font-family: "Roboto Condensed";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1% 0 0 5%;
}

.nav .menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0 1% 0 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section_title {
  width: 100%;
  text-align: center;
  margin-top: 7%;
}

.section_title a:hover h1 {
  color: #ffa514;
}

.section_title h1 {
  color: white;
  font-size: 2.8em;
  font-size: 3.5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.banner {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.banner .picture {
  width: 50%;
}

.banner .text {
  margin: 0 0 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .text .text_above {
  font-weight: 400;
  font-size: 1.4em;
  margin: 8px 0;
}

.banner .text .main_text {
  font-weight: 500;
  font-size: 2.5em;
  margin: 8px 0;
}

.button {
  width: 120px;
  height: 35px;
  border-radius: 30px;
  background-color: #ffa514;
  border: none;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover {
  cursor: pointer;
  background-color: #ffb700;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_posts {
  margin: 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_posts .post {
  position: relative;
  overflow: hidden;
  margin: 10px;
  height: 320px;
}

.main_posts .post:hover .content {
  display: block;
  top: 88%;
}

.main_posts .post .content {
  margin-left: 10px;
  padding: 10px;
  background-color: white;
  color: black;
  width: 95%;
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main_posts .post .content .title {
  margin: 0;
  font-weight: 500;
}

.main_posts .post .content .title a {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main_posts .post .content .title a:hover {
  color: #ffa514;
}

.main_posts .post .content .subtitle {
  margin: 0px;
  font-weight: 400;
}

.main_posts .post .picture {
  border: 10px solid white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7% 0 0 0;
  border-top: 1px solid white;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .links .link {
  margin: 20px;
  font-weight: 500;
}

footer .links .link a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .links .link a:hover {
  color: #ffa514;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

footer .social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .social a p {
  position: relative;
  bottom: 10px;
  margin-left: 5px;
}

footer .social a:hover {
  color: #ffa514;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .post {
  border-radius: 5px;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4% 0;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.projects .post:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.projects .post .picture {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 300px;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}

.projects .post .content {
  padding: 30px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .post .content .title {
  margin: 0 0;
}

.projects .post .content .title a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: inherit;
}

.projects .post .content .title a:hover {
  color: #ffa514;
}

.projects .post .content .subtitle {
  margin: 0;
}

.projects .post .content .text {
  font-size: 1.15em;
  margin: 20px 0;
}
/*# sourceMappingURL=main.css.map */