@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #DEDEDE;
  margin: 0px;
}

.nav .link {
  height: 100%;
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav .link a {
  text-decoration: none;
  color: #1f1f1f;
  margin: 10px;
}

.nav .link:hover {
  background-color: #b07ae2;
  background-color: #b07ae2;
}

.nav .link:hover a {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
}

.nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  font-family: "Roboto Condensed";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* positioning header properly */
.nav > :nth-child(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 3% 0 0 5%;
  -webkit-box-flex: 1.7;
      -ms-flex-positive: 1.7;
          flex-grow: 1.7;
}

.nav > :nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  -webkit-box-flex: 1.3;
      -ms-flex-positive: 1.3;
          flex-grow: 1.3;
}

.header_logo {
  max-width: 100%;
  height: auto;
}

.banner {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .picture {
  width: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner .text {
  margin: 0 0 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .text .text_above {
  font-weight: 400;
  font-size: 1.4em;
  margin: 8px 0;
}

.banner .text .main_text {
  font-weight: 500;
  font-size: 2.5em;
  margin: 8px 0;
}

.banner .button {
  width: 120px;
  height: 35px;
  border-radius: 30px;
  background-color: #b07ae2;
  border: none;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.banner .button:hover {
  cursor: pointer;
  background-color: #9e5eda;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_posts {
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.post {
  position: relative;
  overflow: hidden;
}

.post:hover .content {
  display: block;
  top: 88%;
}

.post .content {
  margin-left: 10px;
  padding: 10px;
  background-color: white;
  color: black;
  width: 95%;
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.post .content .title {
  margin: 0;
  font-weight: 500;
}

.post .content .title a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.post .content .title a:hover {
  color: #b07ae2;
}

.post .content .subtitle {
  margin: 0px;
  font-weight: 400;
}

.post .picture {
  border: 10px solid white;
}

.space {
  height: 200px;
}
/*# sourceMappingURL=main2.css.map */