<div class="social">
    <a href="#!">
        <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a href="#!">
        <i class="fab fa-whatsapp fa-2x"></i>
    </a>
    <a href="#!">
        <i class="fas fa-hashtag fa-2x"></i>
    </a>
</div>
<div class="links">
    <div class="link">
        <a href="#!" title="Home">Home</a>
    </div>
    <div class="link">
        <a href="projetos.html" title="Projetos">Projetos</a>
    </div>
    <div class="link">
        <a href="vtour/tour.html" title="Tour">Tour Virtual</a>
    </div>
    <div class="link">
        <a href="#!" title="Contato">Contato</a>
    </div>
    <div class="link">
        <a href="#!" title="Sobre">Sobre</a>
    </div>
</div>
