<nav class="nav">
    <div class="nav_links logo">
        <a href="#!" title="Sandra Salles Arquiterura">
            <img
                src="graphic/logo_white.png"
                alt="logo"
                class="header_logo"
                title="Sandra Salles Arquitetura"
            />
        </a>
    </div>
    <div class="nav_links menu">
        <div class="link">
            <a href="index.html" title="Home">Home</a>
        </div>
        <div class="link">
            <a href="projetos.html" title="Projetos">Projetos</a>
        </div>
        <div class="link">
            <a href="vtour/tour.html" title="Tour">Tour Virtual</a>
        </div>
        <div class="link">
            <a href="#!" title="Contato">Contato</a>
        </div>
        <div class="link">
            <a href="#!" title="Sobre">Sobre</a>
        </div>
    </div>
</nav>
